module.network.aws_vpc.this vpc-0123456789abcdef0
module.network.aws_subnet.private["use2a"] subnet-0aaa...
module.network.aws_subnet.private["use2b"] subnet-0bbb...
module.network.aws_route_table.main rtb-0123...
module.network.aws_internet_gateway.this igw-0abc...